apiVersion: traefik.containo.us/v1alpha1
kind: CertificateResolver
metadata:
  name: yandex
spec:
  yandexCertificate:
    folderId: "b1gjev1g87fgira75vkt"
    secretManagerSecretId: {{ yandex_secret_id }}
